.Container{
    width: auto;
    height: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;

    img{
        height: 200px;
        width: auto;
    }

    .Form{
        max-width: 300px;
        margin: auto auto;
    }
    .Link{
        text-align: center;
        a{
            color: teal;
        }
        a:hover{
            text-decoration: underline;
        }
    }

}