.Container{
    width: auto;
    height: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;

    img{
        height: 200px;
        width: auto;
    }

    .form{
        max-width: 800px;
        margin: auto auto;
    }

}