.footer {
    width: 100%;
    height: 100px;
    background-color: #26292f;
    position: absolute;
    margin-bottom: 0px;
    margin-top: 50px;
    img {
        width: 100px;
        height: 100px;
    }
}

.footerMobile {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0px;
    background-color: #63c2d1;
}

.footerIcons {
    .home {
        position: relative;
        bottom: 40px;
    }
    .circle {
        position: absolute;
        width: 60px;
        height: 60px;
        left: calc(50% - 60px / 2 - 0.5px);
        bottom: 40px;
        border-radius: 50%;
        background: #63c2d1;
    }
}
