.container{
    padding: 5%;
}
.missoes{
    border: solid 2px black;
    border-radius: 5px;
}
.missoes_complete{
  border: solid 2px black;
  border-radius: 5px;
  margin-top: 100px;
}

.loading{
  margin: 20px;
  left:0;
  right:0;
  top: 0;
  bottom:0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}