.header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-bottom: solid;
    border-color: linear-gradient(180deg, transparent 95.83%, #000000 100%);
    z-index: 111;
  }
  div {
    position: absolute;
    width: 30%;
    height: auto;
    right: 15%;
    top: 10%;
    z-index: 999;
    text-align: center;

    span {
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      top: -30px;
      text-align: center;
      letter-spacing: 2px;
      color: #000000;
    }
  }
  .btn_start {
    width: 90%;
    height: 55px;
    top: 50px;
    text-align: center;
    color: #fff;

    background: #63c2d1;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  .btn_login {
    width: 90%;
    height: 55px;
    top: 60px;
    text-align: center;
    color: #fff;

    background: transparent;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  img {
    width: 300px;
    height: 300px;
  }

  .container_text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 100px;
    // grid-template-areas: "i t"
    //                      "I T";
    .imagem1 {
      background-color: #000;
      text-align: center;
      // width: 100%;
      // height: 20px;
      // grid-area: "i";
    }
    .texto1 {
      background-color: #63c2d1;
      text-align: center;
      // width: 100%;
      // height: 20px;
      // grid-area: "t";
    }
  }
}

@media only screen and (max-width: 500px) {
  .header {
    width: 100%;
    height: 40vh;
    div {
      width: 60%;
    }
    .btn_start {
      width: 90%;
      height: 55px;
      top: 10px;
      text-align: center;
      color: #000;
    }
    .btn_login {
      width: 90%;
      height: 55px;
      top: 20px;
      color: #000;
    }
  }
  .container {
    .container_text {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 0px 30px;
      .imagem1 {
        background-color: blue !important; 
        text-align: center;
      }
      .texto1 {
        background-color: pink !important;
        text-align: center;
      }
    }
  }
}
